@font-face{ font-family:fzltchj; src:url('../font/fzltchj.TTF') format("truetype");}
*{margin: 0;padding:0;}
html{font-size: 40px; }
body {color:#000;font-family:Microsoft YaHei, Arial, Helvetica, sans-serif; position:relative; }
a{ color:#fff; text-decoration:none;}
i,em{ font-style:normal;}
img{ max-width:100%; vertical-align:top; border:0;}
ul,li{ list-style-type:none;}
.clearfix:after{clear:both;content:".";display:block;font-size:0;height:0;line-height:0;visibility:hidden;}
.clearfix{zoom:1;}
*:focus {outline: none;}

.hide{ display:none !important;}
.t_l{ text-align:left !important}
.t_c{ text-align:center !important}

.ledshow{ background: url(../img/show_bg.png) repeat; width:100%; min-height:1079px}
.ledshow h2{ font-family:fzltchj, Microsoft YaHei, Arial, Helvetica, sans-serif; height:220px; line-height:230px; font-size:60px; color:#fff; }
.ledshow h2 .h2_bg_l{ background:url(../img/h2_bg_l.png) no-repeat 0 50%; padding-left:104px}
.ledshow h2 .h2_bg_r{ background:url(../img/h2_bg_r.png) no-repeat 100% 50%; padding-right:104px}
.ledshow h2 .h2_bg{ display: inline-block; height:41px}
.ledshow h2 .dot{ vertical-align:middle; width:9px; height:9px; background-color:#ffcbd9; display:inline-block; margin:0 10px;}
.ledshow table{ width:98%; margin:auto; padding-bottom:5px; border:none;}
.ledshow th,.ledshow td{ padding:35px 30px; border-bottom:10px solid #fff; }
.ledshow th{ background-color:#f1a0a7; font-weight:normal; text-align: left; text-shadow:0 1px 0 #ddd }
.ledshow td{text-shadow:0 1px 0 #fff }
.bg_yellow td{ background-color:#ffffea;}
.bg_purple td{ background-color:#f4f4ff}

@media screen and (max-width: 1600px){
	body{ font-size:30px;}
	.ledshow{ min-height:899px}
	.ledshow h2{ height:180px; line-height:200px; font-size:40px;}
	.ledshow th,.ledshow td{ padding:30px 30px;}
}
@media screen and (max-width: 1440px){
	body{ font-size:25px;}
	.ledshow{ min-height:899px}
	.ledshow h2{ height:180px; line-height:200px; font-size:40px;}
	.ledshow th,.ledshow td{ padding:30px 30px;}
}
@media screen and (max-width: 1366px){
	body{ font-size:25px;}
	.ledshow{ min-height:767px}
	.ledshow h2{ height:150px; line-height:170px; font-size:40px;}
	.ledshow th,.ledshow td{ padding:25px 30px;}
}
@media screen and (max-width: 1280px){
	body{ font-size:24px;}
	.ledshow{ min-height:799px}
	.ledshow h2{ height:180px; line-height:200px; font-size:40px;}
	.ledshow th,.ledshow td{ padding:25px 30px;}
}
@media screen and (max-width: 1024px){
	body{ font-size:17px;}
	.ledshow{ min-height:767px}
	.ledshow h2{ height:180px; line-height:200px; font-size:35px;}
	.ledshow th,.ledshow td{ padding:25px 30px;}
}