<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="  
        http://www.springframework.org/schema/beans       
        http://www.springframework.org/schema/beans/spring-beans-4.2.xsd">

	<bean id="userDao"      class="com.puban.weixin.user.dao.impl.UserDaoImpl" parent="baseDao"/>

	<bean id="userService"  class="com.puban.weixin.user.service.impl.UserServiceImpl" parent="baseService"/>

</beans>