/********
	功能：整站公用css
	作者：Aileen
	创建时间：2015-07-03
*/
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,button,input,textarea,th,td{ margin:0; padding:0}
body,button,input,select,textarea,th{ color:#8B8B8B; background-color:#FFF; font-size:12px; line-height:1.5em; font-family:"微软雅黑",Microsoft Yahei,Arial,Tahoma,"hiragino sans gb",Helvetica !important}
h1,h2,h3,h4,h5,h6{ font-size:100%; font-weight:normal}
li{ list-style:none}
img{ border:0 none; -ms-interpolation-mode:bicubic}
input[type="button"],input[type='submit']{ cursor:pointer}
button{ cursor:pointer}
table{ border-collapse:collapse; border-spacing:0}
a{ color:#515151; text-decoration:none}
a:hover{ color:#333; text-decoration:none}

.clearfix::after { clear: both;  content: "";  display: table;}
.clearfix {}
.clear { clear: both; font: 0/0 Arial;  height: 0;  visibility: hidden;}


.left{ float:left;}
.right{ float:right;}

.t_l{ text-align: left !important; }

.dis_none{display: none;}
.dis_block{display: block;}
.mg_l_5{ margin-left: 5px !important;}
.mg_l_30{ margin-left: 30px ;}
.mg_l_10{ margin-left: 10px ;}
.mg_b_0{ margin-bottom: 0 !important;}
.mg_t_0{ margin-top: 0 !important;}
.mg_t_10{ margin-top: 10px !important;}
.mg_r_10{ margin-right: 10px !important;}
.mg_r_20{ margin-right: 20px !important;}
.mg_t_15{ margin-top: 15px !important;}
.mg_t_20{ margin-top: 20px !important;}
.mg_b_20{ margin-bottom: 20px !important;}
.pd_l0{ padding-left: 0 !important;}
.pd_l20{ padding-left: 27px !important;}
.pd_r0{ padding-right: 0 !important;}
.pd_lr5{ padding-right: 5px !important; padding-left: 5px !important;}
.pd_lr15{ padding-right: 15px !important; padding-left: 15px !important;}
.pd_t_10{ padding-top: 10px !important;}
.pd_t_3{ padding-top: 3px !important;}
.pd_t_8{ padding-top: 8px !important;}
.pd_t_15{ padding-top: 15px !important;}
.pd_b_10{ padding-bottom: 10px !important;}
.pd_10{ padding: 10px !important;}
.pd_20{ padding: 20px !important;}
.pd_2301{ padding: 20px 30px 0 10px !important;}

/*弹出层-2 删除*/
.popup-overlay{ background-color: #000; opacity: 0.3; filter:alpha(opacity=35); height: 100%; left: 0; position: fixed; top: 0; width: 100%; z-index: 999;}
.popup,.success-block .col-md-4{ z-index: 1000;position: fixed; width: 100%; left: 50%; top: 50%;  margin-top: -8%; margin-left: -15%; }

/*@media (min-width:992px){}
@media (min-width:768px){
	.popup{ left: 10%;}
}
@media all\9,@media screen\0{
	.popup{ margin-left: 25%;}
}*/
.form-horizontal-y .form-control-feedback{ top: 0; right:15px; }
/*.form-horizontal-y .form-group{ height: 50px;}*/

/*弹出层1-成功*/
.modal-darkgreen .modal-header{ border-bottom:3px solid #53a93f !important}
.modal-darkyellow .modal-header{ border-bottom:3px solid #f4b400 !important}
/*组织机构-列表颜色在这里*/
.help-block-color{ color: #999}
.has-success .help-block-color{ color: #8cc474}
.has-error .help-block-color{ color: #e46f61}



/*让ie支持css3*/
header, footer, nav, section, article {display:block;}
.navbar .navbar-inner .navbar-header .navbar-account .account-area > li > a .badge,.shortcart .glyphicon,.btn,h1.row-title, h2.row-title, h3.row-title, h4.row-title, h5.row-title, h6.row-title,.input-sm, .form-horizontal .form-group-sm .form-control,.pagination > li:first-child > a, .pagination > li:first-child > span,.tree_content h3,.y_triangle{ behavior: url(style/PIE-2/PIE.htc); z-index: 1}

/*to IE8*/
.level_for_ie8 .col-lg-3,.level_for_ie8 .col-md-3{ width: 25%;}
.level_for_ie8 .col-lg-9,.level_for_ie8 .col-md-9{ width:75%;}
.ie8 .page-breadcrumbs,.ie8 .DTTTFooter{ background:#f4f4f4 none repeat scroll 0 0 !important}
.ie8 .page-header{ background-color: #fff;}
.ie8 .form-control{ border:1px solid #ccc !important; }
.ie8 .page-sidebar .sidebar-header-wrapper .searchhelper{ background-color: #fcf8e3 !important; color: #fb6e52 !important}
.ie8 .page-sidebar .sidebar-header-wrapper .searchinput{ line-height: 41px !important}

/*解决IE8下默认不加载问题*/
.col-sm-1,.col-lg-1,.col-md-1,.col-md-push-1{ width: 8.33333%}
.col-sm-2,.col-lg-2,.col-md-2{ width: 16.6667%}
.col-sm-3,.col-lg-3,.col-md-3{ width: 25%}
.col-sm-10,.col-lg-10,.col-md-10{ width: 83.3333%}
.col-sm-5,.col-lg-5,.col-md-5{ width: 41.6667%}
.col-sm-6,.col-lg-6,.col-md-6{ width: 50%}
.col-sm-12,.col-lg-12,.col-md-12{ width: 100%}
.col-lg-1,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-10,.col-lg-11,.col-lg-12,.col-sm-1,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-10,.col-sm-11,.col-sm-12{ float: left}
.ie8 .form-horizontal .control-label{ text-align: right; padding-top: 7px; margin-bottom: 0}

/*单选框-复选框-图像域*/
.checkbox_default,.checkbox_hover,.checkbox_checked{ background: url(../img/checkbox.png) no-repeat 0 50%; width: 17px; height: 17px; display: inline-block; cursor: pointer; margin-top: 1px;}
.checkbox_hover,.checkbox_default:hover{ background-position: -17px 50%;}
.checkbox_checked{ background-position: -34px 50%;}
    /*弹出层的小复选框*/
    .checkbox_small_default,.checkbox_small_default:hover,.checkbox_small_checked{ width: 14px; height: 14px; padding-left: 18px}
    .checkbox_small_default{ background: url(../img/checkbox_small_default.png) no-repeat 0 50%;}
    .checkbox_small_default:hover{ background: url(../img/checkbox_small_hover.png) no-repeat 0 50%;}
    .checkbox_small_checked{ background: url(../img/checkbox_small_checked.png) no-repeat 0 50%;}
.radio_default,.radio_default:hover,.radio_checked{ width: 18px; height: 18px; display: inline-block; cursor: pointer; padding-left: 23px}
.radio_default{ background: url(../img/radio_default.png) no-repeat 0 50%;}
.radio_default:hover{ background: url(../img/radio_hover.png) no-repeat 0 50%;}
.radio_checked{ background: url(../img/radio_checked.png) no-repeat 0 50%;}

/*去掉IE中搜索后面的叉和密码框眼睛-IE10+*/
input::-ms-clear,input::-ms-reveal { display: none; }
input,button,select,textarea{ outline:none}
textarea{resize:none}

/*去掉IE11-IE8的全屏按钮，在这些浏览器下按F11即可*/
#fullscreen-toggler{ display: none\0 !important;}

/*add.html表单*/
.form_media .col-sm-12 .col-lg-1.control-label{ width: 12.333%;}
.form_media .col-sm-10.col-md-push-1{ left: 13%;}

/*通用尺寸*/
@media screen and (max-width: 1366px) {
    .funModal-popup{ width: 60% !important; left: 50%; top: 50%; margin-left: -30%; margin-top: -20%;  min-width: inherit;}
    .funModal-popup-left .widget-body{ padding-right: 5px}
}

@media screen and (min-width:1600px) and (max-width:1920px){
    /*add.html*/
    .form_media .form-group.col-sm-6{ width: 58.333%; }
    .form_media .col-sm-12 .col-lg-1.control-label{ width: 14.333%;}
    .form_media .col-sm-10.col-md-push-1{ left: 15.1%;}
}
@media screen and (min-width:1024px) and (max-width:1600px){
    /*add.html*/
    .funModal-popup-left .widget-body{ padding-right: 5px}
    .form_media .form-group.col-sm-6{ width: 82.333%;}
    .form_media .col-sm-12 .col-lg-1.control-label{ width: 16.9%;}
    .form_media .col-sm-12 .col-lg-1.control-label{ width: 20.5%;  }
    .beizhu.col-lg-10{ width: 79.333%; padding-right: 0 !important; }
    .form_media .col-sm-10.col-md-push-1{ left: 21.2%;}
    .level_content_right.col-lg-9 .form_media .col-sm-10.col-md-push-1{ left: 21.5%;}
    .page-sidebar.hide + .page-content .form_media .col-sm-10.col-md-push-1{ left: 21.2%;}
}

@media screen and (min-width:750px) and (max-width:1024px) {
    .funModal-popup{ width: 80% !important; margin-left: -40%; height: 730px; margin-top: -365px;}
    .left.funModal-popup-left,.right.funModal-popup-right{ width: 100%; float: none; }
    .funModal-popup-left .widget-body{ height: 200px }
    .right.funModal-popup-right{ padding: 0; margin-top: 10px; }
    .form_media .form-group.col-sm-6{ width: 100%;}
    .form_media .col-lg-3.control-label{ padding-right: 0 !important; width: 20%; padding-left: 0 !important; text-align: right; }
    .form_media .col-sm-12 .col-lg-1.control-label{ width: 20%; padding-right: 0 !important; padding-left: 0 !important; text-align: right; }
    .form_media .col-sm-12 .beizhu.col-lg-10{ padding-right: 0 !important; width: 80% }
    .form_media .col-sm-10.col-md-push-1{ left: 21.2% }
    .level_content_right.col-lg-9 .form_media .col-sm-10.col-md-push-1{ left: 21.5% }
    .page-sidebar.hide + .page-content .form_media .col-sm-10.col-md-push-1{ left: 21.2% }
    .form-inline-y .right{ float: left; clear:both; margin-top: 10px}
}
@media screen and (max-width: 980px) {
    .table-y .btn{ margin:5px 0 !important; }
}
@media screen and (max-width: 750px) {
    .funModal-popup{ width: 90% !important;  margin-left: -45%;  height: 730px; margin-top: -365px;}
    .level_content_left,.level_content_right,.form_media .form-group.col-sm-6 { width: 100%}
    .form_media .col-lg-3.control-label{ padding-right: 0 !important; width: 18%; padding-left: 0 !important; text-align: right; }
    .form_media .col-sm-12 .col-lg-1.control-label{ width: 18%; padding-right: 0 !important; padding-left: 0 !important; text-align: right; }
    .form_media .col-sm-12 .beizhu.col-lg-10{ padding-right: 0 !important; width: 82% }
    .form_media .col-sm-10.col-md-push-1{ left: 19.5% }
    .control_height{ height: auto;}
    .level_content_right{ z-index: 0}
    .level_pageBody{ padding-left: 15px;}
    .left.funModal-popup-left,.right.funModal-popup-right{ width: 100%; float: none; }
    .funModal-popup-left .widget-body{ height: 200px }
    .right.funModal-popup-right{ padding: 0; margin-top: 10px; }
    
}

@media screen and (max-width: 1150px) {
    /*针对有层级管理的*/
    .level_content_right.col-lg-9 .DTTTFooter .col-sm-7,.level_content_right.col-lg-9 .DTTTFooter .col-sm-5{ padding-right: 0 !important;  width: 100%;}
    .level_content_right.col-lg-9 .DTTTFooter .col-sm-7{ margin:10px 0; padding-left: 5px !important;}
    .level_content_right.col-lg-9 .DTTTFooter .col-sm-7 .dataTables_paginate{ float: left; }
    /*针对左侧导航隐藏的*/
    .page-sidebar.hide + .page-content .DTTTFooter .col-sm-7{  width: 58.3333%;}
    .page-sidebar.hide + .page-content .DTTTFooter .col-sm-5{  width: 41.6667%;}
    .page-sidebar.hide + .page-content .DTTTFooter .col-sm-7{ margin:0; padding-left: 5px !important; padding-right: 15px !important; }
    .page-sidebar.hide + .page-content .DTTTFooter .col-sm-7 .dataTables_paginate{ float: right; }
}
@media screen and (max-width: 1124px) {
    /*针对有层级管理的*/
    .level_content_right.col-lg-9 .row-operate.right{ float: left !important; clear: both; margin:4px 0 4px -2px;}
    .level_content_right.col-lg-9 .row-title.left{ float: left !important;  } 
    /*针对左侧导航隐藏的*/  
    .page-sidebar.hide + .page-content .level_content_right.col-lg-9 .row-operate.right{ float: right !important; clear: none;  margin:10px 0 0;}
    .page-sidebar.hide + .page-content .level_content_right.col-lg-9 .row-title.left{ float: left !important;  } 
}
@media screen and (max-width: 936px) {

    .row-operate.right{ float: left !important; clear: both; margin:4px 0 4px -2px !important;}
    .page-sidebar.hide + .page-content .row-operate.right{ float: right !important; clear: none; margin:10px 0 0 !important;}
    .DTTTFooter .col-sm-7,.DTTTFooter .col-sm-5{ padding-right: 0 !important;  width: 100%;}
    .DTTTFooter .col-sm-7{ margin:10px 0; padding-left: 5px !important;}
    .DTTTFooter .col-sm-7 .dataTables_paginate{ float: left; }    
}
@media screen and (max-width: 928px) {
    
    /*针对左侧导航隐藏的*/
    .page-sidebar.hide + .page-content .row-operate.right{ float: left !important; clear: none; margin:10px 0 0 !important;}
    .page-sidebar.hide + .page-content .DTTTFooter .col-sm-7,.page-sidebar.hide + .page-content .DTTTFooter .col-sm-5{ padding-right: 0 !important; width: 100%}
    .page-sidebar.hide + .page-content .DTTTFooter .col-sm-7{ margin:10px 0; padding-left: 5px !important;}
    .page-sidebar.hide + .page-content .DTTTFooter .col-sm-7 .dataTables_paginate{ float: left; }
    /*针对左侧有压缩导航的*/
    /*.page-sidebar.menu-compact + .page-content .row-operate.right{ float: left !important; clear: none; margin:5px 0 5px -2px !important;}*/
}